.container {
    padding-top:32px;
    display:grid;
    grid-template-columns: 200px 700px;
    height:100vh;
  }
  
  #inputGroup{
    grid-column: 1/2;
  }
  
  #library{
    margin-left:50px;
    padding-left:20px;
    padding-top:5px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap:40px;
    grid-template-rows:200px;
    outline-left:
  }
  
  
  .deleteButton{
    border:0;
    color: red;
    margin:12px;
    padding:5px;
    border-radius:12px;
    font-size:5px;
  }
  
  #libraryHeader{
    padding-left:70px;
    font-size:20px;
    padding-bottom:20px;
  }
  
  .form-label{
    padding-top:10px;
  }
  
  #formHeader {
    font-size:20px;
    padding-top:3px;
    padding-bottom:10px;
  }
  
  
  
  
  
  
  
  
  
  
  